{% extends 'base.html.twig' %}

{% block title %} garageVP - Nos produits{% endblock %}

{% block body %}
    
<style>

    .txt-w {
        text-decoration: none;
        color: white;
    }
    .table{
        box-shadow:var(--box_shadow);
    }
    .navigation{
        text-shadow:var(--main);
        text-color:var(--main);
    }
    .btn-info{
        padding: 0.1rem;
        background: blue;
    }
    .btn-warning{
        padding: 0.1rem;
        background: yellow;
    }
    .banner{
        height:800px;
        background:linear-gradient(rgba(0, 0, 0,.1),rgba(0, 0, 0,.1)),url(https://images.alphacoders.com/717/thumbbig-717700.webp) center center fixed no-repeat;
        background-size:cover;
    }
    .Produits{
        text-shadow: 1rem 1rem 1rem black;
    }
    .Empty{
        heigth: 3rem;
    }

</style>

<body>
    <div class="container-fluid banner py-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mb-4">
            <div class="Empty col-12 d-flex justify-content-center align-items-center text-white text-center pt-5 my-5">
               
            </div>
            <div class="Produits col-12 d-flex justify-content-center align-items-center text-white text-center pt-5">
                <h1 class=" heading">NOS PRODUITS</h1>
            </div>
          
                {# read and display just one flash message type #}
               {% for message in app.flashes('success') %}
               <div class="alert alert-success mt-4">
                {{ message}}
               </div>
               {% endfor %}



            <div class="col-10 count mt-4 text-white">
                <h2>Il y'a {{ products.getTotalItemCount}} produits au total.</h2>
            </div>


            <div class="col-10 d-flex justify-content-center align-items-center text-center ">
                <table class="table table-primary table-striped  fs-5 table-hover my-5">
                    <thead class="py-5 fs-3 text-danger">
                        <tr>
                            <th>Numéro</th>
                            <th>Marque</th>
                            <th>Model</th>
                            <th>Prix</th>
                            <th>Année</th>
                            <th>KM</th>
                            <th>Boite</th>
                            <th>Energie</th>
                            <th>Puissance</th>
                            <th>Date de Création</th>
                            <th>Edition</th>
                            <th>Suppression</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for products in products %}
                           <tr>
                                <th  class="d-flex justify-content-center align-items-center fs-5 text-danger">{{ products.id }}</th>
                                <th>{{ products.marque }}</th>
                                <td>{{ products.model }}</td>
                                <td>{{ products.prix }}</td>
                                <td>{{ products.year }}</td>
                                <td>{{ products.kelometre }}</td>
                                <td>{{ products.boite }}</td>
                                <td>{{ products.energie }}</td>
                                <td>{{ products.puissance }}</td>
                                <td>{{ products.createdAt|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ path('products.edit', { id:products.id }) }}">Modifier</a>
                                </td>
                                <td>
                                    <a href="{{ path('products.delete', { id:products.id }) }}">supprimer</a>
                                </td>
                                
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="Produits col-10">
                <a href="{{ path('products.new') }}" class="btn btn-primary">
                    Nouveau Produit !
                </a>
            </div>

            <div class="pagination pagination-lg col-10 d-flex justify-content-center align-items-center fs-3 mb-4 pb-5">
                {{ knp_pagination_render(products) }}
            </div>
        </div>
    </div>
    </div>
</body>

{% endblock %}
