{% extends "base.html.twig" %}

{% block title %} garageVP - Nouveau produit{% endblock %}

{% block body %}

<style>
   .bg {
        background: var(--main);
        padding: 2rem;
        box-shadow: var(--box_shadow);
        border-radius: 1rem;
    }

    .bg:hover {
        background: #000;
        color:white;
    }
    .banner{
        height:950px;
        background:linear-gradient(rgba(0, 0, 0,.1),rgba(0, 0, 0,.1)),url(https://images.alphacoders.com/717/thumbbig-717700.webp) center center fixed no-repeat;
        background-size:cover;
        
    }

</style>

<body>
<div class="container-fluid banner">
    <div class="container my-5">
        <div class="row d-flex justify-content-center align-items-center my-5">
                <div class="col-sm-12 col-md-10 my-5">

            <div class="row my-5">
            </div>
            <div class="row my-5">
               <h1 class="mt-4 text-center heading">Création d'un nouveau Produit</h1>

               {# read and display just one flash message type #}
               {% for message in app.flashes('success') %}
               <div class="alert alert-success mt-4">
                {{ message}}
               </div>
               {% endfor %}

            </div>

            <div class="row bg my-5">
                {{ form_start(form) }}
 
                <div class="form-group fs-4">       
                {{ form_label(form.Marque) }}
                {{ form_widget(form.Marque) }}
                <div class="form-error">
                    {{ form_errors(form.Marque)}}
                </div>
                </div>

                <div class="form-group fs-4">    
                {{ form_label(form.Model) }}
                {{ form_widget(form.Model) }}
                <div class="form-error">
                    {{ form_errors(form.Model)}}
                </div>
                </div>

                <div class="form-group fs-4">    
                {{ form_label(form.Prix) }}
                {{ form_widget(form.Prix) }}
                <div class="form-error">
                    {{ form_errors(form.Prix)}}
                </div>
                </div>

                <div class="form-group fs-4">    
                {{ form_label(form.Boite) }}
                {{ form_widget(form.Boite) }}
                <div class="form-error">
                    {{ form_errors(form.Boite)}}
                </div>
                </div>

                <div class="form-group fs-4">    
                {{ form_label(form.Energie) }}
                {{ form_widget(form.Energie) }}
                <div class="form-error">
                    {{ form_errors(form.Energie)}}
                </div>
                </div>

                <div class="form-group fs-4">    
                {{ form_label(form.Puissance) }}
                {{ form_widget(form.Puissance) }}
                <div class="form-error">
                    {{ form_errors(form.Puissance)}}
                </div>
                </div>

                <div class="form-group fs-4">    
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
                <div class="form-error">
                    {{ form_errors(form.description)}}
                </div>
                </div>

                <div class="form-group fs-4">    
                {{ form_label(form.imageFile) }}
                {{ form_widget(form.imageFile) }}
                <div class="form-error">
                    {{ form_errors(form.imageFile)}}
                </div>
                </div>

                <div class="form-group fs-4 mt-4">    
                {{ form_label(form.isPublic) }}
                {{ form_widget(form.isPublic) }}
                <div class="form-error">
                    {{ form_errors(form.isPublic)}}
                </div>
                </div>


                <div class="form-group fs-4">    
                {{ form_row(form._token) }}
                </div>

                <div class="form-group fs-4">    
                {{ form_row(form.submit) }}
                </div>
                {{ form_end(form)}}
            </div>

            </div>
        </div>
    </div>
  </div>
</body>

{% endblock %}