{% extends 'base.html.twig' %}

{% block title %}Garage.V.Parrot !{% endblock %}

{% block body %}

{% block login %}
          {% include "partials/_login.html.twig" %}
{% endblock %}

<!--Home Section Start-->
<section id="Home" class="home">
    <h3 data-speed="-2" class="homeParalexEffect"><span>G</span>.ParroT</h3>
    <img data-speed="5" class="homeParalexEffect" src="{{ asset('images/Présentation3.jpg') }}" alt="">
</section>
<!--Home Section End-->

    {% for message in app.flashes('success') %}
        <div class="alert alert-success text-center fs-4 mt-4">
        {{ message}}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning  text-center mt-4">
        {{ message}}
        </div>
    {% endfor %}
<!-- Icons Container Start-->
  <section class="iconsContainer">
    <div class="icons">


        <i class="fas fa-home"></i>
        <div class="content">
            <h3>100+</h3>
            <p>Branches</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-home"></i>
        <div class="content">
            <h3>5800+</h3>
            <p>Voitures Vendues</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-home"></i>
        <div class="content">
            <h3>2560+</h3>
            <p>Clients Satisfaits</p>
        </div>
    </div>

    <div class="icons">
        <i class="fas fa-home"></i>
        <div class="content">
            <h3>100+</h3>
            <p>Nouveautés</p>
        </div>
    </div>
  </section>
<!-- Icons Container end-->
<div class="container my-5 d-flex -justif-content-center align-items-center">
<div class="row row-cols-1 row-cols-md-3 flex-wrap g-4">
    <div class="col-12">
        <h1 class="mb-5 text-center">NOS VENTES</h1>
    </div>
  {% for products in products %}
    <div class="col-12 col-md-6 col-lg-4">
    <div class="card">
      <img src="{{ asset('images/fondEcran.webp') }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">{{ products.marque}}</h2>
                <div class="col shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <ul class="description liste fs-4 mt-4 py-4">
                        <h1 class="mb-5">Critères</h1>
                        <li><strong>Marque :</strong>{{ products.marque}}</li>
                        <li><strong>Année-Modèle :</strong>{{ products.model}}</li>
                        <li><strong>Boite de vitesse :</strong>{{ products.boite}}</li>
                        <li><strong>Puissance fiscale :</strong>{{ products.puissance}}</li>
                        <li><strong>Soumis à LOA/LLD</strong> : Non</li>
                        <li><strong>Mise en circulation</strong> : 07/2015</li>
                        <li><strong>Carburant</strong>{{ products.energie}}</li>
                        <li><strong>Type de véhicule</strong> : 4 x 4, SUV</li>
                        <li><strong>Puissance fiscale</strong> : 16 Cv</li>
                        <li><strong>Permis</strong> : Avec permis</li>
                        <li><strong>Description :</strong>{{ products.description|slice(0,100) ~ '...' }}</li>
                    </ul>
                </div>      
        </div>
    </div>
</div>
{% endfor %}
    <div class="Produits col-10">
                <a href="{{ path('products.index.public') }}" class="btn btn-primary">
                    Voir Tous Nos Produits
                </a>
    </div>
</div>
</div>

{% endblock %}