{% extends 'base.html.twig' %}

{% block title %} garageVP - Nos produits{% endblock %}

{% block body %}

<style>
.empty{
    height: 6rem;
}

.info{
    background: lightyellow;
    
}
img{
    border-radius: 50%;
    border: solid 1px transparent;
    margin: 2rem;
}
</style>
    


<body>
<div class="container-fluid banner py-5">
<div class="container my-5 d-flex -justif-content-center align-items-center">
<div class="row row-cols-1 row-cols-md-3 flex-wrap g-5">
    <div class="col-12 empty">
        <h1></h1>
    </div>
    <div class="col-12">
        <h1 class=" heading mb-5 text-center">LES AVIS DES CLIENTS</h1>
    </div>

            <div class="col-12 pt-5 text-white bg-info ">
            <h2>Il y'a {{ review.getTotalItemCount}} Avis au total.</h2>
        </div>
          {% for review in review %}
           <div class="col-12 col-md-6 col-lg-4">
                <div class="swiper-slide box text-center">
                    <img src="{{ vich_uploader_asset(review, 'imageFile') }}" width="180px" height="180px">
                    <div class="content">
                        <span class="fs-3">{{ review.nom }}</span>
                        <span class="fs-3">{{ review.prenom }}</span>
                        <p class="fs-5 text-secondary">{{ review.message}}</p>
                        <span class="fs-5">{{ review.createdAt|date('d/m/Y') }}</span>
                        <h3>Satisfait</h3>
                        <div class="stars fs-3 text-danger">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>  
            {% endfor %}

            <div class="pagination pagination-lg col-12 d-flex justify-content-center align-items-center fs-3 mb-4 py-5">
                {{ knp_pagination_render(review) }}
            </div>

</div>
</div>
</div>
</body>

{% endblock %}

