{% extends "base.html.twig" %}

{% block title %} garageVP - Nouveau produit{% endblock %}

{% block body %}

<style>
    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
  .bg {
        background: var(--main);
        padding: 2rem;
        box-shadow: var(--box_shadow);
        border-radius: 1rem;
    }

      .bg:hover {
        background: #000;
        color:white;
    }
    .banner{
        height:950px;
        background:linear-gradient(rgba(0, 0, 0,.1),rgba(0, 0, 0,.1)),url(https://images.alphacoders.com/717/thumbbig-717700.webp) center center fixed no-repeat;
        background-size:cover;
        
    }

</style>

<body>
    <div class="container-fluid banner">
    <div class="container my-5">
        <div class="row  d-flex justify-content-center align-items-center my-5">
        <div class="col-sm-12 col-md-10 my-5">

            <div class="row my-5">
            </div>
            <div class="row my-5">
               <h1 class="mt-4 text-center heading">FORMULAIRE D'AJOUT DES IMAGES</h1>

               {# read and display just one flash message type #}
               {% for message in app.flashes('success') %}
               <div class="alert alert-success mt-4">
                {{ message}}
               </div>
               {% endfor %}

            </div>
            <div class="row bg my-5">
    {{ form_start(form) }}

    {{ form_row(form.Title) }}
    {{ form_row(form.NameFile) }}
    {{ form_row(form.URL) }}
    {{ form_row(form.Description) }}

    <h2>Images</h2>
    <ul class="images-list">
        {% for imageForm in form.images %}
            <li>
                {{ form_row(imageForm) }}
                <a href="#" class="remove-image">Supprimer</a>
            </li>
        {% endfor %}
    </ul>
    <a href="#" id="add-image">Ajouter une image</a>

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    
    {{ form_end(form) }}
            </div>

        </div>
        </div>
    </div>
  </div>
</body>

{% endblock %}