{% extends 'base.html.twig' %}

{% block title %} garageVP - Nos Arrivages{% endblock %}

{% block body %}
    
<style>

    .txt-w {
        text-decoration: none;
        color: white;
    }
    .table{
        box-shadow:var(--box_shadow);
    }
    .navigation{
        text-shadow:var(--main);
        text-color:var(--main);
    }
    .btn-info{
        padding: 0.1rem;
        background: blue;
    }
    .btn-warning{
        padding: 0.1rem;
        background: yellow;
    }
    .banner{
        height:800px;
        background:linear-gradient(rgba(0, 0, 0,.1),rgba(0, 0, 0,.1)),url(https://images.alphacoders.com/717/thumbbig-717700.webp) center center fixed no-repeat;
        background-size:cover;
    }
    .Arrivages{
        text-shadow: 1rem 1rem 1rem black;  
    }
    .Empty{
        heigth: 3rem;
    }
</style>

<body>
 <div class="container-fluid banner py-5">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center mb-4">
             <div class="Empty col-12 d-flex justify-content-center align-items-center text-white text-center pt-5 my-5">
               
            </div>
            <div class="Arrivages col-12 d-flex justify-content-center align-items-center text-white text-center pt-5">
                <h1>NOS ARRIVAGES !</h1>
            </div>
          
                {# read and display just one flash message type #}
               {% for message in app.flashes('success') %}
               <div class="alert alert-success mt-4">
                {{ message}}
               </div>
               {% endfor %}
            <div class="col-10 count mt-4 text-danger">
                <h2>Il y'a {{ arrivages.getTotalItemCount}} arrivages au total.</h2>
            </div>


            <div class="col-10 d-flex justify-content-center align-items-center text-center ">
                <table class="table table-primary table-striped  fs-5 table-hover my-5">
                    <thead class="py-5 fs-3 text-danger">
                        <tr>
                            <th>Numéro</th>
                            <th>Marque</th>
                            <th>Model</th>
                            <th>Boite</th>
                            <th>Energie</th>
                            <th>Puissance</th>
                            <th>Disponibilité</th>
                            <th>Date de Création</th>
                            <th>Date de Mise à jour</th>
                            <th>Edition</th>
                            <th>Suppression</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for arrivages in arrivages %}
                           <tr>
                                <th  class="d-flex justify-content-center align-items-center fs-5 text-danger">{{ arrivages.id }}</th>
                                <th>{{ arrivages.marque }}</th>
                                <td>{{ arrivages.model }}</td>
                                <td>{{ arrivages.boite }}</td>
                                <td>{{ arrivages.energie }}</td>
                                <td>{{ arrivages.puissance }}</td>
                                <td>{{ arrivages.isAvaillable }}</td>
                                <td>{{ arrivages.createdAt|date('d/m/Y') }}</td>
                                <td>{{ arrivages.updatedAt|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ path('arrivages.edit', { id:arrivages.id }) }}">Modifier</a>
                                </td>
                                <td>
                                    <a href="{{ path('arrivages.delete', { id:arrivages.id }) }}">supprimer</a>
                                </td>
                                
                           </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="Produits col-10">
                <a href="{{ path('arrivages.new') }}" class="btn btn-primary">
                    Créer un nouveau Arrivage !
                </a>
            </div>

            <div class="pagination pagination-lg col-10 d-flex justify-content-center align-items-center fs-3 mb-4">
                {{ knp_pagination_render(arrivages) }}
            </div>
        </div>
    </div>
    </div>
</body>

{% endblock %}
